.container-info{
    border: 2px solid black;

    width: 82%;
    min-width: 600px;

    padding: 1%;
    margin: auto;

}

.userCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userCard > h3 {
    text-align: center;
}
.buttonPosts{
    width: 100%;
}


p {
    margin: 0;
    text-align: center;
}


.info_post {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 10px;
    column-gap: 5px;
}


.boxPost{
    border: 1px solid grey;
    width: 19%;
    display: flex;
    flex-direction: column;
   justify-content: flex-end;
}