
.container{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    row-gap: 10px;
column-gap: 20px;
    justify-content: space-evenly;

}

.userCard{
    width: 45%;

    box-sizing: border-box;
    border: 2px solid grey;

    padding: 20px;


    display: flex;
    flex-direction: column;
    align-items: center;
}

.userCard > button {
    width: 80%;

}
.userCard > h2 {
    text-align: center;
}
